<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Details <%=result.artwork_name %>
    </title>
</head>

<body>
    <header>
        <h1><a href="/">The Gallery</a> </h1>
    </header>
    <figure>
        <figcaption>
            <h3>Artwork name: <%=result.artwork_name %>
            </h3>
            <h3>Artwork rating: <%=result.artwork_rating %>
            </h3>
            <a href=<%=`/delete/${result._id}` %> id="delete">Delete Artwork</a>
            <a href=<%=`/update/${result._id}` %> id="update">Update Artwork</a>
        </figcaption>
        <img src=<%=result.artwork_url %> alt="">
    </figure>
</body>

</html>